@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Maintainer:</strong> Robert Corrigan - <a href="https://github.com/rjcorrig">https://github.com/rjcorrig</a><br />
</address>